header.header.header-wrapper
  nav.header-nav
    ul.nav-items
      li.nav-item
        a.nav-link(href='#') Главная
      li.nav-item
        a.nav-link(href='#') Наши проекты
      li.nav-item
        a.nav-link(href='#') Услуги
      li.nav-item
        a.nav-link(href='#') Новости
      li.nav-item
        a.nav-link(href='#') Контакты
  .header-info
    span.info-name Передовая IT студия
    p.info-title Мы создаем легкие решения сложных задач и проблем
    a.info-link.btn Наши проекты