nav.main-nav
  a.main-nav__link(href="#").main-nav__item.active Link1
  a.main-nav__link(href="#").main-nav__item Link2
  a.main-nav__link(href="#").main-nav__item Link3
  a.main-nav__link(href="#").main-nav__item Link4
  a.main-nav__link(href="#").main-nav__item Link5