section.standarts.content-wrapper
  .block-standarts
    .standarts-info
      h2.standarts-info__title.section-title Высокие стандарты разработки
      p.standarts-info__desc.section-desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века. 
      a.standarts-info__link Подробнее о компании
    .standart-img
      img(src="../img/standarts.png", alt="")
  hr.hr
  .block-projects
    .project
      .project-top
        img.project-icon(src="../img/web-programming.svg", alt="")
        span.project-num 125
      p.project-bottom.tac Our projects
    .project
      .project-top
        img.project-icon(src="../img/web-programming.svg", alt="")
        span.project-num 125
      p.project-bottom.tac Our projects
    .project
      .project-top
        img.project-icon(src="../img/web-programming.svg", alt="")
        span.project-num 125
      p.project-bottom.tac Our projects
    .project
      .project-top
        img.project-icon(src="../img/web-programming.svg", alt="")
        span.project-num 125
      p.project-bottom.tac Our projects
    .project
      .project-top
        img.project-icon(src="../img/web-programming.svg", alt="")
        span.project-num 125
      p.project-bottom.tac Our projects