section.our-projects.content-wrapper
  h2.section-title Наши проекты
  p.section-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
  .grid-block
    img.grid-block__img(src="../img/projects.jpg", alt="")
    img.grid-block__img(src="../img/projects.jpg", alt="")
    img.grid-block__img(src="../img/projects.jpg", alt="")
    img.grid-block__img(src="../img/projects.jpg", alt="")
  a.section-link.btn(href="#") Все проекты