section.our-work
  .our-work__bg.content-wrapper
    h2.section-title Наши работы, на которых мы специализируемся
    a.section-link.btn Все услуги
  .grid-container.content-wrapper
    .grid-item
      img.grid-item__img(src="../img/work.jpg", alt="")
      h3.grid-item__title 01. Исследование и упаковка
      p.grid-item__desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      a.grid-item__link Подробнее
    .grid-item
      img.grid-item__img(src="../img/work.jpg", alt="")
      h3.grid-item__title 01. Исследование и упаковка
      p.grid-item__desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      a.grid-item__link Подробнее
    .grid-item
      img.grid-item__img(src="../img/work.jpg", alt="")
      h3.grid-item__title 01. Исследование и упаковка
      p.grid-item__desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
      a.grid-item__link Подробнее
  hr.hr