section.app.content-wrapper
  h2.app-title Мы создаем мобильные приложения для крупных корпораций
  p.app-desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
  .grid-container
    .grid-card
      img.grid-icon(src="../img/icon.png", alt="")
      .grid-info
        h3.grid-info__title Создание сайтов
        p.grid-info__text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
    .grid-card
      img.grid-icon(src="../img/icon.png", alt="")
      .grid-info
        h3.grid-info__title Создание сайтов
        p.grid-info__text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
    .grid-card
      img.grid-icon(src="../img/icon.png", alt="")
      .grid-info
        h3.grid-info__title Создание сайтов
        p.grid-info__text Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
  a.app.section-link.btn Все услуги