@mixin section-title {
  font: {
    family: Montserrat;
    size: 36px;
  }
  line-height: 53px;
  color: #323232;
}

@mixin subtitle {
  font: {
    family: Montserrat;
    size: 18px;
    weight: 600;
  }
  line-height: 22px;
  color: #323232;
}
@mixin description {
  font: {
    family: Montserrat;
    size: 16px;
    weight: 400;
  }
  line-height: 25px;
  color: #999999;
}
