.mobileapp.content-container {
  padding: 0 150px;
  text-align: center;
}
.mobileapp__title {
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  font-weight: bold;
  margin-bottom: 50px;
}
.mobileapp__description {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  font-weight: normal;
  padding: 0 200px;
  margin-bottom: 70px;
}

.mobileapp-greed__container {
  display: flex;
  margin-bottom: 55px;
}
.mobileapp-text__wrapper {
  align-self: center;
}
.mobileapp-greed {
  &__block {
    display: flex;
  }
  &__icon {
    align-self: center;
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  &__description {
    font-size: 14px;
    line-height: 22px;
    color: #999999;
  }
}
.allservice-btn {
  margin-bottom: 105px;
}
